.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  border-radius: 5px;
  left: 8px;
  width: 16px;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  height: 32px;
  bottom: 0;
  background-color: rgb(255, 213, 0);
  animation: lds-facebook-yellow 1s linear infinite;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  height: 48px;
  bottom: 0;
  background-color: rgb(26,146,207);
  animation: lds-facebook-blue 1s linear infinite;
  animation-delay: 0.24s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  height: 24px;
  bottom: 0;
  background-color: rgb(185,32,37);
  animation: lds-facebook-red 1s linear infinite;
  animation-delay: -0.24s;
}

@keyframes lds-facebook-yellow {
  0% {
    height: 32px;
  }
  50% {
    height: 48px;
  }
  100% {
    height: 32px;
  }
}

@keyframes lds-facebook-blue {
  0% {
    height: 48px;
  }
  50% {
    height: 64px;
  }
  100% {
    height: 48px;
  }
}

@keyframes lds-facebook-red {
  0% {
    height: 24px;
  }
  50% {
    height: 39px;
  }
  100% {
    height: 24px;
  }
}